.country-flag {
    background-image: url('icons/flags-sprite.png');
    background-size: 21.6rem 41.2rem;
    display: inline-block;
    width: 1.6rem;
    height: 1.2rem;
    border-radius: .1rem;
    vertical-align: middle;
}

.country-ph {
    background-position: 0 0
}

.country-ad{
    background-position: 10% 0
}

.country-ae {
    background-position: 20% 0
}

.country-af {
    background-position: 30% 0
}

.country-ag {
    background-position: 40% 0
}

.country-ai {
    background-position: 50% 0
}

.country-al {
    background-position: 60% 0
}

.country-am {
    background-position: 70% 0
}

.country-ao {
    background-position: 80% 0
}

.country-ar {
    background-position: 90% 0
}

.country-as {
    background-position: 100% 0
}

.country-at {
    background-position: 0 4%
}

.country-au {
    background-position: 10% 4%
}

.country-aw {
    background-position: 20% 4%
}

.country-ax {
    background-position: 30% 4%
}

.country-az {
    background-position: 40% 4%
}

.country-ba {
    background-position: 50% 4%
}

.country-bb {
    background-position: 60% 4%
}

.country-bd {
    background-position: 70% 4%
}

.country-be {
    background-position: 80% 4%
}

.country-bf {
    background-position: 90% 4%
}

.country-bg {
    background-position: 100% 4%
}

.country-bh {
    background-position: 0 8%
}

.country-bi {
    background-position: 10% 8%
}

.country-bj {
    background-position: 20% 8%
}

.country-bm {
    background-position: 30% 8%
}

.country-bn {
    background-position: 40% 8%
}

.country-bo {
    background-position: 50% 8%
}

.country-br {
    background-position: 60% 8%
}

.country-bs {
    background-position: 70% 8%
}

.country-bt {
    background-position: 80% 8%
}

.country-bw {
    background-position: 90% 8%
}

.country-by {
    background-position: 100% 8%
}

.country-bz {
    background-position: 0 12%
}

.country-ca {
    background-position: 10% 12%
}

.country-cd {
    background-position: 20% 12%
}

.country-cf {
    background-position: 30% 12%
}

.country-cg {
    background-position: 40% 12%
}

.country-ch {
    background-position: 50% 12%
}

.country-ci {
    background-position: 60% 12%
}

.country-cl {
    background-position: 70% 12%
}

.country-cm {
    background-position: 80% 12%
}

.country-cn {
    background-position: 90% 12%
}

.country-co {
    background-position: 100% 12%
}

.country-cr {
    background-position: 0 16%
}

.country-cu {
    background-position: 10% 16%
}

.country-cv {
    background-position: 20% 16%
}

.country-cw {
    background-position: 30% 16%
}

.country-cy {
    background-position: 40% 16%
}

.country-cz {
    background-position: 50% 16%
}

.country-de {
    background-position: 60% 16%
}

.country-dj {
    background-position: 70% 16%
}

.country-dk {
    background-position: 80% 16%
}

.country-dm {
    background-position: 90% 16%
}

.country-do {
    background-position: 100% 16%
}

.country-dz {
    background-position: 0 20%
}

.country-ec {
    background-position: 10% 20%
}

.country-ee {
    background-position: 20% 20%
}

.country-eg {
    background-position: 30% 20%
}

.country-eh {
    background-position: 40% 20%
}

.country-er {
    background-position: 50% 20%
}

.country-es {
    background-position: 60% 20%
}

.country-et {
    background-position: 70% 20%
}

.country-eu {
    background-position: 80% 20%
}

.country-fd {
    background-position: 90% 20%
}

.country-fi {
    background-position: 100% 20%
}

.country-fj {
    background-position: 0 24%
}

.country-fk {
    background-position: 10% 24%
}

.country-fm {
    background-position: 20% 24%
}

.country-fo {
    background-position: 30% 24%
}

.country-fr {
    background-position: 40% 24%
}

.country-ga {
    background-position: 50% 24%
}

.country-xe {
    background-position: 60% 24%
}

.country-xs {
    background-position: 70% 24%
}

.country-gb {
    background-position: 80% 24%
}

.country-xw {
    background-position: 90% 24%
}

.country-gd {
    background-position: 100% 24%
}

.country-ge {
    background-position: 0 28%
}

.country-gf {
    background-position: 10% 28%
}

.country-gg {
    background-position: 20% 28%
}

.country-gh {
    background-position: 30% 28%
}

.country-gi {
    background-position: 40% 28%
}

.country-gl {
    background-position: 50% 28%
}

.country-gm {
    background-position: 60% 28%
}

.country-gn {
    background-position: 70% 28%
}

.country-gp {
    background-position: 80% 28%
}

.country-gq {
    background-position: 90% 28%
}

.country-gr {
    background-position: 100% 28%
}

.country-gs {
    background-position: 0 32%
}

.country-gt {
    background-position: 10% 32%
}

.country-gu {
    background-position: 20% 32%
}

.country-gw {
    background-position: 30% 32%
}

.country-gy {
    background-position: 40% 32%
}

.country-hk {
    background-position: 50% 32%
}

.country-hn {
    background-position: 60% 32%
}

.country-hr {
    background-position: 70% 32%
}

.country-ht {
    background-position: 80% 32%
}

.country-hu {
    background-position: 90% 32%
}

.country-id {
    background-position: 100% 32%
}

.country-ie {
    background-position: 0 36%
}

.country-il {
    background-position: 10% 36%
}

.country-im {
    background-position: 20% 36%
}

.country-in {
    background-position: 30% 36%
}

.country-iq {
    background-position: 40% 36%
}

.country-ir {
    background-position: 50% 36%
}

.country-is {
    background-position: 60% 36%
}

.country-it {
    background-position: 70% 36%
}

.country-je {
    background-position: 80% 36%
}

.country-jm {
    background-position: 90% 36%
}

.country-jo {
    background-position: 100% 36%
}

.country-jp {
    background-position: 0 40%
}

.country-kg {
    background-position: 10% 40%
}

.country-kh {
    background-position: 20% 40%
}

.country-ki {
    background-position: 30% 40%
}

.country-km {
    background-position: 40% 40%
}

.country-ke {
    background-position: 50% 40%
}

.country-kn {
    background-position: 60% 40%
}

.country-kp {
    background-position: 70% 40%
}

.country-kr {
    background-position: 80% 40%
}

.country-kw {
    background-position: 90% 40%
}

.country-ky {
    background-position: 100% 40%
}

.country-kz {
    background-position: 0 44%
}

.country-la {
    background-position: 10% 44%
}

.country-lb {
    background-position: 20% 44%
}

.country-lc {
    background-position: 30% 44%
}

.country-li {
    background-position: 40% 44%
}

.country-lk {
    background-position: 50% 44%
}

.country-lr {
    background-position: 60% 44%
}

.country-ls {
    background-position: 70% 44%
}

.country-lt {
    background-position: 80% 44%
}

.country-lu {
    background-position: 90% 44%
}

.country-lv {
    background-position: 100% 44%
}

.country-ly {
    background-position: 0 48%
}

.country-ma {
    background-position: 10% 48%
}

.country-mc {
    background-position: 20% 48%
}

.country-md {
    background-position: 30% 48%
}

.country-me {
    background-position: 40% 48%
}

.country-mg {
    background-position: 50% 48%
}

.country-mh {
    background-position: 60% 48%
}

.country-mk {
    background-position: 70% 48%
}

.country-ml {
    background-position: 80% 48%
}

.country-mm {
    background-position: 90% 48%
}

.country-mn {
    background-position: 100% 48%
}

.country-mo {
    background-position: 0 52%
}

.country-mq {
    background-position: 10% 52%
}

.country-mr {
    background-position: 20% 52%
}

.country-ms {
    background-position: 30% 52%
}

.country-mt {
    background-position: 40% 52%
}

.country-mu {
    background-position: 50% 52%
}

.country-mv {
    background-position: 60% 52%
}

.country-mw {
    background-position: 70% 52%
}

.country-mx {
    background-position: 80% 52%
}

.country-my {
    background-position: 90% 52%
}

.country-mz {
    background-position: 100% 52%
}

.country-na {
    background-position: 0 56%
}

.country-nc {
    background-position: 10% 56%
}

.country-ne {
    background-position: 20% 56%
}

.country-ng {
    background-position: 30% 56%
}

.country-ni {
    background-position: 40% 56%
}

.country-nl {
    background-position: 50% 56%
}

.country-no {
    background-position: 60% 56%
}

.country-np {
    background-position: 70% 56%
}

.country-nr {
    background-position: 80% 56%
}

.country-nu {
    background-position: 90% 56%
}

.country-nz {
    background-position: 100% 56%
}

.country-om {
    background-position: 0 60%
}

.country-pa {
    background-position: 10% 60%
}

.country-pe {
    background-position: 20% 60%
}

.country-pf {
    background-position: 30% 60%
}

.country-pg {
    background-position: 40% 60%
}

.country-ph {
    background-position: 50% 60%
}

.country-pk {
    background-position: 60% 60%
}

.country-pl {
    background-position: 70% 60%
}

.country-pm {
    background-position: 80% 60%
}

.country-pr {
    background-position: 90% 60%
}

.country-ps {
    background-position: 100% 60%
}

.country-pt {
    background-position: 0 64%
}

.country-pw {
    background-position: 10% 64%
}

.country-py {
    background-position: 20% 64%
}

.country-qa {
    background-position: 30% 64%
}

.country-re {
    background-position: 40% 64%
}

.country-ro {
    background-position: 50% 64%
}

.country-rs {
    background-position: 60% 64%
}

.country-ru {
    background-position: 70% 64%
}

.country-rw {
    background-position: 80% 64%
}

.country-sa {
    background-position: 90% 64%
}

.country-sb {
    background-position: 100% 64%
}

.country-sc {
    background-position: 0 68%
}

.country-sd {
    background-position: 10% 68%
}

.country-se {
    background-position: 20% 68%
}

.country-sg {
    background-position: 30% 68%
}

.country-si {
    background-position: 40% 68%
}

.country-sk {
    background-position: 50% 68%
}

.country-sl {
    background-position: 60% 68%
}

.country-sm {
    background-position: 70% 68%
}

.country-sn {
    background-position: 80% 68%
}

.country-so {
    background-position: 90% 68%
}

.country-sr {
    background-position: 100% 68%
}

.country-ss {
    background-position: 0 72%
}

.country-st {
    background-position: 10% 72%
}

.country-sv {
    background-position: 20% 72%
}

.country-sx {
    background-position: 30% 72%
}

.country-sy {
    background-position: 40% 72%
}

.country-sz {
    background-position: 50% 72%
}

.country-tc {
    background-position: 60% 72%
}

.country-td {
    background-position: 70% 72%
}

.country-tg {
    background-position: 80% 72%
}

.country-th {
    background-position: 90% 72%
}

.country-tj {
    background-position: 100% 72%
}

.country-tl {
    background-position: 0 76%
}

.country-tm {
    background-position: 10% 76%
}

.country-tn {
    background-position: 20% 76%
}

.country-to {
    background-position: 30% 76%
}

.country-tr {
    background-position: 40% 76%
}

.country-tt {
    background-position: 50% 76%
}

.country-tv {
    background-position: 60% 76%
}

.country-tw {
    background-position: 70% 76%
}

.country-tz {
    background-position: 80% 76%
}

.country-ua {
    background-position: 90% 76%
}

.country-ug {
    background-position: 100% 76%
}

.country-us {
    background-position: 0 80%
}

.country-uy {
    background-position: 10% 80%
}

.country-uz {
    background-position: 20% 80%
}

.country-va {
    background-position: 30% 80%
}

.country-vc {
    background-position: 40% 80%
}

.country-ve {
    background-position: 50% 80%
}

.country-vg {
    background-position: 60% 80%
}

.country-vi {
    background-position: 70% 80%
}

.country-vn {
    background-position: 80% 80%
}

.country-vu {
    background-position: 90% 80%
}

.country-ws {
    background-position: 100% 80%
}

.country-xa {
    background-position: 0 84%
}

.country-xb {
    background-position: 10% 84%
}

.country-xc {
    background-position: 20% 84%
}

.country-xg {
    background-position: 30% 84%
}

.country-xk {
    background-position: 40% 84%
}

.country-xt {
    background-position: 50% 84%
}

.country-ye {
    background-position: 60% 84%
}

.country-yt {
    background-position: 70% 84%
}

.country-za {
    background-position: 80% 84%
}

.country-zm {
    background-position: 90% 84%
}

.country-zw {
    background-position: 100% 84%
}

.country-xx {
    background-position: 0 88%
}
