.country-flag {
    background-image: url('icons/flags-sprite.png');
    background-size: 21.6rem 41.2rem;
    display: inline-block;
    width: 1.6rem;
    height: 1.2rem;
    border-radius: .1rem;
    vertical-align: middle;
}

.country-0,.country-ph,.flag-0 {
    background-position: 0 0
}

.country-11,.country-ad,.flag-11 {
    background-position: 10% 0
}

.country-142,.country-ae,.flag-142 {
    background-position: 20% 0
}

.country-9,.country-af,.flag-9 {
    background-position: 30% 0
}

.country-13,.country-ag,.flag-13 {
    background-position: 40% 0
}

.country-12,.country-ai,.flag-12 {
    background-position: 50% 0
}

.country-10,.country-al,.flag-10 {
    background-position: 60% 0
}

.country-14,.country-am,.flag-14 {
    background-position: 70% 0
}

.country-319,.country-ao,.flag-319 {
    background-position: 80% 0
}

.country-4,.country-ar,.flag-4 {
    background-position: 90% 0
}

.country-153,.country-as,.flag-153 {
    background-position: 100% 0
}

.country-18,.country-at,.flag-18 {
    background-position: 0 4%
}

.country-17,.country-au,.flag-17 {
    background-position: 10% 4%
}

.country-15,.country-aw,.flag-15 {
    background-position: 20% 4%
}

.country-336,.country-ax,.flag-336 {
    background-position: 30% 4%
}

.country-156,.country-az,.flag-156 {
    background-position: 40% 4%
}

.country-26,.country-ba,.flag-26 {
    background-position: 50% 4%
}

.country-21,.country-bb,.flag-21 {
    background-position: 60% 4%
}

.country-177,.country-bd,.flag-177 {
    background-position: 70% 4%
}

.country-5,.country-be,.flag-5 {
    background-position: 80% 4%
}

.country-334,.country-bf,.flag-334 {
    background-position: 90% 4%
}

.country-28,.country-bg,.flag-28 {
    background-position: 100% 4%
}

.country-20,.country-bh,.flag-20 {
    background-position: 0 8%
}

.country-183,.country-bi,.flag-183 {
    background-position: 10% 8%
}

.country-179,.country-bj,.flag-179 {
    background-position: 20% 8%
}

.country-24,.country-bm,.flag-24 {
    background-position: 30% 8%
}

.country-182,.country-bn,.flag-182 {
    background-position: 40% 8%
}

.country-25,.country-bo,.flag-25 {
    background-position: 50% 8%
}

.country-27,.country-br,.flag-27 {
    background-position: 60% 8%
}

.country-19,.country-bs,.flag-19 {
    background-position: 70% 8%
}

.country-180,.country-bt,.flag-180 {
    background-position: 80% 8%
}

.country-181,.country-bw,.flag-181 {
    background-position: 90% 8%
}

.country-22,.country-by,.flag-22 {
    background-position: 100% 8%
}

.country-23,.country-bz,.flag-23 {
    background-position: 0 12%
}

.country-3,.country-ca,.flag-3 {
    background-position: 10% 12%
}

.country-318,.country-cd,.flag-318 {
    background-position: 20% 12%
}

.country-187,.country-cf,.flag-187 {
    background-position: 30% 12%
}

.country-189,.country-cg,.flag-189 {
    background-position: 40% 12%
}

.country-133,.country-ch,.flag-133 {
    background-position: 50% 12%
}

.country-190,.country-ci,.flag-190 {
    background-position: 60% 12%
}

.country-32,.country-cl,.flag-32 {
    background-position: 70% 12%
}

.country-185,.country-cm,.flag-185 {
    background-position: 80% 12%
}

.country-33,.country-cn,.flag-33 {
    background-position: 90% 12%
}

.country-34,.country-co,.flag-34 {
    background-position: 100% 12%
}

.country-35,.country-cr,.flag-35 {
    background-position: 0 16%
}

.country-37,.country-cu,.flag-37 {
    background-position: 10% 16%
}

.country-186,.country-cv,.flag-186 {
    background-position: 20% 16%
}

.country-38,.country-cw,.flag-38 {
    background-position: 30% 16%
}

.country-39,.country-cy,.flag-39 {
    background-position: 40% 16%
}

.country-40,.country-cz,.flag-40 {
    background-position: 50% 16%
}

.country-54,.country-de,.flag-54 {
    background-position: 60% 16%
}

.country-191,.country-dj,.flag-191 {
    background-position: 70% 16%
}

.country-41,.country-dk,.flag-41 {
    background-position: 80% 16%
}

.country-42,.country-dm,.flag-42 {
    background-position: 90% 16%
}

.country-43,.country-do,.flag-43 {
    background-position: 100% 16%
}

.country-223,.country-dz,.flag-223 {
    background-position: 0 20%
}

.country-44,.country-ec,.flag-44 {
    background-position: 10% 20%
}

.country-47,.country-ee,.flag-47 {
    background-position: 20% 20%
}

.country-45,.country-eg,.flag-45 {
    background-position: 30% 20%
}

.country-328,.country-eh,.flag-328 {
    background-position: 40% 20%
}

.country-321,.country-er,.flag-321 {
    background-position: 50% 20%
}

.country-163,.country-es,.flag-163 {
    background-position: 60% 20%
}

.country-301,.country-et,.flag-301 {
    background-position: 70% 20%
}

.country-351,.country-eu,.flag-351 {
    background-position: 80% 20%
}

.country-341,.country-fd,.flag-341 {
    background-position: 90% 20%
}

.country-51,.country-fi,.flag-51 {
    background-position: 100% 20%
}

.country-50,.country-fj,.flag-50 {
    background-position: 0 24%
}

.country-48,.country-fk,.flag-48 {
    background-position: 10% 24%
}

.country-324,.country-fm,.flag-324 {
    background-position: 20% 24%
}

.country-49,.country-fo,.flag-49 {
    background-position: 30% 24%
}

.country-52,.country-fr,.flag-52 {
    background-position: 40% 24%
}

.country-193,.country-ga,.flag-193 {
    background-position: 50% 24%
}

.country-159,.country-xe,.flag-159 {
    background-position: 60% 24%
}

.country-162,.country-xs,.flag-162 {
    background-position: 70% 24%
}

.country-164,.country-gb,.flag-164 {
    background-position: 80% 24%
}

.country-166,.country-xw,.flag-166 {
    background-position: 90% 24%
}

.country-58,.country-gd,.flag-58 {
    background-position: 100% 24%
}

.country-53,.country-ge,.flag-53 {
    background-position: 0 28%
}

.country-337,.country-gf,.flag-337 {
    background-position: 10% 28%
}

.country-62,.country-gg,.flag-62 {
    background-position: 20% 28%
}

.country-194,.country-gh,.flag-194 {
    background-position: 30% 28%
}

.country-55,.country-gi,.flag-55 {
    background-position: 40% 28%
}

.country-57,.country-gl,.flag-57 {
    background-position: 50% 28%
}

.country-271,.country-gm,.flag-271 {
    background-position: 60% 28%
}

.country-322,.country-gn,.flag-322 {
    background-position: 70% 28%
}

.country-59,.country-gp,.flag-59 {
    background-position: 80% 28%
}

.country-192,.country-gq,.flag-192 {
    background-position: 90% 28%
}

.country-56,.country-gr,.flag-56 {
    background-position: 100% 28%
}

.country-130,.country-gs,.flag-130 {
    background-position: 0 32%
}

.country-61,.country-gt,.flag-61 {
    background-position: 10% 32%
}

.country-60,.country-gu,.flag-60 {
    background-position: 20% 32%
}

.country-323,.country-gw,.flag-323 {
    background-position: 30% 32%
}

.country-63,.country-gy,.flag-63 {
    background-position: 40% 32%
}

.country-66,.country-hk,.flag-66 {
    background-position: 50% 32%
}

.country-65,.country-hn,.flag-65 {
    background-position: 60% 32%
}

.country-36,.country-hr,.flag-36 {
    background-position: 70% 32%
}

.country-64,.country-ht,.flag-64 {
    background-position: 80% 32%
}

.country-67,.country-hu,.flag-67 {
    background-position: 90% 32%
}

.country-70,.country-id,.flag-70 {
    background-position: 100% 32%
}

.country-73,.country-ie,.flag-73 {
    background-position: 0 36%
}

.country-75,.country-il,.flag-75 {
    background-position: 10% 36%
}

.country-74,.country-im,.flag-74 {
    background-position: 20% 36%
}

.country-69,.country-in,.flag-69 {
    background-position: 30% 36%
}

.country-72,.country-iq,.flag-72 {
    background-position: 40% 36%
}

.country-71,.country-ir,.flag-71 {
    background-position: 50% 36%
}

.country-68,.country-is,.flag-68 {
    background-position: 60% 36%
}

.country-76,.country-it,.flag-76 {
    background-position: 70% 36%
}

.country-79,.country-je,.flag-79 {
    background-position: 80% 36%
}

.country-77,.country-jm,.flag-77 {
    background-position: 90% 36%
}

.country-80,.country-jo,.flag-80 {
    background-position: 100% 36%
}

.country-78,.country-jp,.flag-78 {
    background-position: 0 40%
}

.country-176,.country-kg,.flag-176 {
    background-position: 10% 40%
}

.country-184,.country-kh,.flag-184 {
    background-position: 20% 40%
}

.country-82,.country-ki,.flag-82 {
    background-position: 30% 40%
}

.country-320,.country-km,.flag-320 {
    background-position: 40% 40%
}

.country-195,.country-ke,.flag-195 {
    background-position: 50% 40%
}

.country-118,.country-kn,.flag-118 {
    background-position: 60% 40%
}

.country-325,.country-kp,.flag-325 {
    background-position: 70% 40%
}

.country-175,.country-kr,.flag-175 {
    background-position: 80% 40%
}

.country-84,.country-kw,.flag-84 {
    background-position: 90% 40%
}

.country-30,.country-ky,.flag-30 {
    background-position: 100% 40%
}

.country-81,.country-kz,.flag-81 {
    background-position: 0 44%
}

.country-196,.country-la,.flag-196 {
    background-position: 10% 44%
}

.country-86,.country-lb,.flag-86 {
    background-position: 20% 44%
}

.country-119,.country-lc,.flag-119 {
    background-position: 30% 44%
}

.country-87,.country-li,.flag-87 {
    background-position: 40% 44%
}

.country-213,.country-lk,.flag-213 {
    background-position: 50% 44%
}

.country-197,.country-lr,.flag-197 {
    background-position: 60% 44%
}

.country-312,.country-ls,.flag-312 {
    background-position: 70% 44%
}

.country-88,.country-lt,.flag-88 {
    background-position: 80% 44%
}

.country-89,.country-lu,.flag-89 {
    background-position: 90% 44%
}

.country-85,.country-lv,.flag-85 {
    background-position: 100% 44%
}

.country-261,.country-ly,.flag-261 {
    background-position: 0 48%
}

.country-199,.country-ma,.flag-199 {
    background-position: 10% 48%
}

.country-97,.country-mc,.flag-97 {
    background-position: 20% 48%
}

.country-96,.country-md,.flag-96 {
    background-position: 30% 48%
}

.country-241,.country-me,.flag-241 {
    background-position: 40% 48%
}

.country-198,.country-mg,.flag-198 {
    background-position: 50% 48%
}

.country-160,.country-mh,.flag-160 {
    background-position: 60% 48%
}

.country-91,.country-mk,.flag-91 {
    background-position: 70% 48%
}

.country-313,.country-ml,.flag-313 {
    background-position: 80% 48%
}

.country-201,.country-mm,.flag-201 {
    background-position: 90% 48%
}

.country-157,.country-mn,.flag-157 {
    background-position: 100% 48%
}

.country-90,.country-mo,.flag-90 {
    background-position: 0 52%
}

.country-94,.country-mq,.flag-94 {
    background-position: 10% 52%
}

.country-224,.country-mr,.flag-224 {
    background-position: 20% 52%
}

.country-98,.country-ms,.flag-98 {
    background-position: 30% 52%
}

.country-93,.country-mt,.flag-93 {
    background-position: 40% 52%
}

.country-311,.country-mu,.flag-311 {
    background-position: 50% 52%
}

.country-314,.country-mv,.flag-314 {
    background-position: 60% 52%
}

.country-281,.country-mw,.flag-281 {
    background-position: 70% 52%
}

.country-95,.country-mx,.flag-95 {
    background-position: 80% 52%
}

.country-92,.country-my,.flag-92 {
    background-position: 90% 52%
}

.country-200,.country-mz,.flag-200 {
    background-position: 100% 52%
}

.country-202,.country-na,.flag-202 {
    background-position: 0 56%
}

.country-333,.country-nc,.flag-333 {
    background-position: 10% 56%
}

.country-203,.country-ne,.flag-203 {
    background-position: 20% 56%
}

.country-204,.country-ng,.flag-204 {
    background-position: 30% 56%
}

.country-103,.country-ni,.flag-103 {
    background-position: 40% 56%
}

.country-101,.country-nl,.flag-101 {
    background-position: 50% 56%
}

.country-104,.country-no,.flag-104 {
    background-position: 60% 56%
}

.country-100,.country-np,.flag-100 {
    background-position: 70% 56%
}

.country-99,.country-nr,.flag-99 {
    background-position: 80% 56%
}

.country-352,.country-nu,.flag-352 {
    background-position: 90% 56%
}

.country-102,.country-nz,.flag-102 {
    background-position: 100% 56%
}

.country-105,.country-om,.flag-105 {
    background-position: 0 60%
}

.country-107,.country-pa,.flag-107 {
    background-position: 10% 60%
}

.country-110,.country-pe,.flag-110 {
    background-position: 20% 60%
}

.country-350,.country-pf,.flag-350 {
    background-position: 30% 60%
}

.country-108,.country-pg,.flag-108 {
    background-position: 40% 60%
}

.country-111,.country-ph,.flag-111 {
    background-position: 50% 60%
}

.country-106,.country-pk,.flag-106 {
    background-position: 60% 60%
}

.country-112,.country-pl,.flag-112 {
    background-position: 70% 60%
}

.country-120,.country-pm,.flag-120 {
    background-position: 80% 60%
}

.country-114,.country-pr,.flag-114 {
    background-position: 90% 60%
}

.country-291,.country-ps,.flag-291 {
    background-position: 100% 60%
}

.country-113,.country-pt,.flag-113 {
    background-position: 0 64%
}

.country-326,.country-pw,.flag-326 {
    background-position: 10% 64%
}

.country-109,.country-py,.flag-109 {
    background-position: 20% 64%
}

.country-206,.country-qa,.flag-206 {
    background-position: 30% 64%
}

.country-335,.country-re,.flag-335 {
    background-position: 40% 64%
}

.country-115,.country-ro,.flag-115 {
    background-position: 50% 64%
}

.country-231,.country-rs,.flag-231 {
    background-position: 60% 64%
}

.country-116,.country-ru,.flag-116 {
    background-position: 70% 64%
}

.country-207,.country-rw,.flag-207 {
    background-position: 80% 64%
}

.country-123,.country-sa,.flag-123 {
    background-position: 90% 64%
}

.country-128,.country-sb,.flag-128 {
    background-position: 100% 64%
}

.country-327,.country-sc,.flag-327 {
    background-position: 0 68%
}

.country-178,.country-sd,.flag-178 {
    background-position: 10% 68%
}

.country-132,.country-se,.flag-132 {
    background-position: 20% 68%
}

.country-125,.country-sg,.flag-125 {
    background-position: 30% 68%
}

.country-127,.country-si,.flag-127 {
    background-position: 40% 68%
}

.country-126,.country-sk,.flag-126 {
    background-position: 50% 68%
}

.country-211,.country-sl,.flag-211 {
    background-position: 60% 68%
}

.country-122,.country-sm,.flag-122 {
    background-position: 70% 68%
}

.country-210,.country-sn,.flag-210 {
    background-position: 80% 68%
}

.country-212,.country-so,.flag-212 {
    background-position: 90% 68%
}

.country-131,.country-sr,.flag-131 {
    background-position: 100% 68%
}

.country-330,.country-ss,.flag-330 {
    background-position: 0 72%
}

.country-209,.country-st,.flag-209 {
    background-position: 10% 72%
}

.country-46,.country-sv,.flag-46 {
    background-position: 20% 72%
}

.country-339,.country-sx,.flag-339 {
    background-position: 30% 72%
}

.country-158,.country-sy,.flag-158 {
    background-position: 40% 72%
}

.country-214,.country-sz,.flag-214 {
    background-position: 50% 72%
}

.country-340,.country-tc,.flag-340 {
    background-position: 60% 72%
}

.country-188,.country-td,.flag-188 {
    background-position: 70% 72%
}

.country-218,.country-tg,.flag-218 {
    background-position: 80% 72%
}

.country-135,.country-th,.flag-135 {
    background-position: 90% 72%
}

.country-215,.country-tj,.flag-215 {
    background-position: 100% 72%
}

.country-217,.country-tl,.flag-217 {
    background-position: 0 76%
}

.country-139,.country-tm,.flag-139 {
    background-position: 10% 76%
}

.country-219,.country-tn,.flag-219 {
    background-position: 20% 76%
}

.country-136,.country-to,.flag-136 {
    background-position: 30% 76%
}

.country-138,.country-tr,.flag-138 {
    background-position: 40% 76%
}

.country-137,.country-tt,.flag-137 {
    background-position: 50% 76%
}

.country-140,.country-tv,.flag-140 {
    background-position: 60% 76%
}

.country-134,.country-tw,.flag-134 {
    background-position: 70% 76%
}

.country-216,.country-tz,.flag-216 {
    background-position: 80% 76%
}

.country-141,.country-ua,.flag-141 {
    background-position: 90% 76%
}

.country-220,.country-ug,.flag-220 {
    background-position: 100% 76%
}

.country-2,.country-us,.flag-2 {
    background-position: 0 80%
}

.country-143,.country-uy,.flag-143 {
    background-position: 10% 80%
}

.country-145,.country-uz,.flag-145 {
    background-position: 20% 80%
}

.country-147,.country-va,.flag-147 {
    background-position: 30% 80%
}

.country-154,.country-vc,.flag-154 {
    background-position: 40% 80%
}

.country-148,.country-ve,.flag-148 {
    background-position: 50% 80%
}

.country-329,.country-vg,.flag-329 {
    background-position: 60% 80%
}

.country-165,.country-vi,.flag-165 {
    background-position: 70% 80%
}

.country-149,.country-vn,.flag-149 {
    background-position: 80% 80%
}

.country-146,.country-vu,.flag-146 {
    background-position: 90% 80%
}

.country-208,.country-ws,.flag-208 {
    background-position: 100% 80%
}

.country-29,.country-xa,.flag-29 {
    background-position: 0 84%
}

.country-332,.country-xb,.flag-332 {
    background-position: 10% 84%
}

.country-315,.country-xc,.flag-315 {
    background-position: 20% 84%
}

.country-316,.country-xg,.flag-316 {
    background-position: 30% 84%
}

.country-317,.country-xk,.flag-317 {
    background-position: 40% 84%
}

.country-353,.country-xt,.flag-353 {
    background-position: 50% 84%
}

.country-151,.country-ye,.flag-151 {
    background-position: 60% 84%
}

.country-338,.country-yt,.flag-338 {
    background-position: 70% 84%
}

.country-129,.country-za,.flag-129 {
    background-position: 80% 84%
}

.country-221,.country-zm,.flag-221 {
    background-position: 90% 84%
}

.country-222,.country-zw,.flag-222 {
    background-position: 100% 84%
}

.country-225,.country-xx,.flag-225 {
    background-position: 0 88%
}

.country-sanctioned,.flag-sanctioned {
    background-position: 10% 88%
}