body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.site-header {
    text-align: center;
    margin-bottom: 30px;
}

.site-header h1 {
    font-size: 3.5em;
    color: #112016;
    margin: 0.1em 0;
}

.site-header p {
    font-size: 1.1em;
    color: #555;
    max-width: 80%;
    margin: 0 auto;
}

.filter-bar, .date-selectors {
    margin-bottom: 20px;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.left-filters, .right-filters {
    display: flex;
    align-items: center;
}

.right-filters select {
    margin-left: 10px;
}

.pill, select, .search-box {
    padding: 10px 20px;
    border: 2px solid #3A4F41; 
    border-radius: 20px;
    background-color: white;
    font-size: 0.9rem;
    font-weight: 700;
    color: #3A4F41; 
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s, color 0.3s; 
}

.pill:hover, .pill.active {
    background-color: #2E4236;  
    color: white;  
}

.search-box {
    width: 200px;
}

.search-box:focus, .search-box:hover {
    background-color: #f4f4f4;
    color: #333;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%233A4F41" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.leaderboard {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden; 
}

.leaderboard th, .leaderboard td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.leaderboard th:nth-child(3), .leaderboard td:nth-child(3) {
    border-right: 2px solid #ddd;
}

.leaderboard th {
    background-color: #3A4F41;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding: 10px;
    text-align: left;
}

.leaderboard tr:last-child td {
    border-bottom: none;
}

.division-header {
    width: 10px;
    border-left: 2px solid #ddd;
    padding: 0;
    cursor: default;
}

.icon-wrapper {
    display: inline-block;
    position: relative;
    width: 20px;
    height: auto;
    vertical-align: middle;
}

.icon {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.sort-arrows {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
}

.sort-arrow {
    display: block;
    width: 12px;
    height: 50%;
    opacity: 0.3;
}

.sort-arrow.active {
    opacity: 1;
}

.leaderboard-chess-title {
    background-color: #7c2929;
    border-radius: 0.3rem;
    color: white !important;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.2rem 0.3rem;
    display: inline-block;
}

.loader{
    margin: 0 0 2em;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

svg path,
svg rect {
    fill: #0b7e31;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}
